header {
	width: 100%;
	background: #d6d6d6;
	height: 50px;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.5em;
  font-weight:medium;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
	z-index:1000000; 
	width: 30%;
	font-weight:bold; 
	font-size:14px; 
	background: #d6d6d6;
	opacity: .9;
	position:absolute; 
	text-align:center;}

.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#fff 1px solid;}
.menu li:hover{display: block;    background: #e8e8e8; padding:15px 0 15px 0; border-bottom:#fff 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}


body {
    background: white;
    text-align: center;
}

h1 {
	font-size: 36px;
 	color: black;
 	font-family:'EB Garamond', serif;
}

p {
	font-size: 14px;
	color: black;
	font-family: 'didot';
	font-style: italic;
}

img {
	max-width: 300px;
	margin: 10px;
}

img:hover {
    color: #000000;
    opacity: .5;
}

ul {
	text-decoration: none;
}

li {
	display: inline;
	font-family: "mallanna";
	color: black;
	letter-spacing: 1px;
	font-size: 14px;
	padding-right: 10px;
	color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: pink;
}