body {
    background: red;
    text-align: center;
}

h1 {
	font-size: 24px;
 	color: white;
 	font-family:"Apercu";
}

p {
	font-size: 14px;
	color: white;
	font-family: "didot";
	font-style: "italic";
}
